@model EmployeeManagement.Models.Account.Login
@{
    Layout = "~/Views/Shared/_LogInLayout.cshtml";
    ViewBag.Titl = "Register";
}  @if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissible fade show float-right" role="alert">
        @ViewBag.Error
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


}
<div class="contents order-2 order-md-1">

    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
                <div class="mb-4">

                </div>


                <div id="wrapper">

                    <div class="loader-wrapper"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
                    <div class="card card-authentication1 mx-auto my-5">
                        <div class="card-body">
                            <div class="card-content p-2">
                                <div class="text-center">
                                    <img src="../assets/images/Logo-AIT.png" class="logo-icon" alt="logo icon">
                                </div>
                                <div class="card-title text-uppercase text-center py-3">Sign In</div>
                                <form asp-controller="Account" asp-action="Login" method="post">
                                    @*nhập user*@
                                    <div class="form-group">
                                        <label for="exampleInputUsername" class="sr-only">Username</label>
                                        <div class="position-relative has-icon-right">
                                            <input asp-for="Email" type="text" id="exampleInputUsername" class="form-control input-shadow" placeholder="Enter Username">
                                            <div class="form-control-position">
                                                <i class="icon-user"></i>
                                            </div>
                                            <span asp-validation-for="Email" class="text-danger w-100"></span>
                                        </div>
                                    </div>

                                    @*nhập pass*@
                                    <div class="form-group">
                                        <label for="exampleInputPassword" class="sr-only">Password</label>
                                        <div class="position-relative has-icon-right">
                                            <input asp-for="Password" type="password" id="exampleInputPassword" class="form-control input-shadow" placeholder="Enter Password">
                                            <div class="form-control-position">
                                                <i class="icon-lock"></i>
                                            </div>
                                            <span asp-validation-for="Password" class="text-danger w-100"></span>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-light btn-block">Sign In</button>
                                </form>
                                <span class="d-block text-center my-4 text-muted">&mdash; or &mdash;</span>
                                <div>
                                    <a asp-controller="Account" asp-action="Register" class=" d-flex justify-content-center align-items-center">
                                        Sign Up
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Start Back To Top Button-->
                    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
                </div><!--wrapper-->
            </div>
        </div>
    </div>
</div>












<script>
  window.console = window.console || function(t) {};
</script>





